*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;    
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #75C7EB;
}

.text{
    position: relative;
    transform: skewY(170deg) translate(-200px);
}

.text h2{
    position: relative;
    width: 100%;
    font-size: 6em;
    color: #fff;
    opacity: 0.25;
    pointer-events: none;
    line-height: 1.5em;
    white-space: nowrap; // Multiple whitespaces are collapsed into one
}
